.cart-container {
    padding: 2rem 4rem;
}

.cart-container h2 {
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}

.cart-container .titles {
    margin: 2rem 0 1rem 0;
}

.cart-container .titles h3 {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}

.cart-item,
.cart-container .titles {
    display: grid;
    align-items: center;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    column-gap: 0.5rem;
}

.cart-item {
    border-top: 1px solid white;
    padding: 1rem 0;
}

.cart-container .titles .car-title {
    padding-left: 0.5rem;
}

.cart-container .titles .total {
    padding-right: 0.5rem;
    justify-self: right;
}

.cart-item .cart-car {
    display: flex;
}

.cart-item .cart-car img {
    width: 100px;
    max-width: 100%;
    margin-right: 1rem;
}

.cart-item .cart-car h3 {
    font-weight: 400;
}

.cart-item .cart-car button {
    border: none;
    outline: none;
    margin-top: 0.7rem;
    cursor: pointer;
    background: none;
    color: white;
}

.cart-item .cart-car button:hover {
    color: black;
}

.cart-item .cart-car-quantity {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 130px;
    max-width: 100%;
    border: 1px solid white;
    border-radius: 5px;
}

.cart-item .cart-car-quantity button {
    border: none;
    outline: none;
    background: none;
    padding: 0.7rem 1.5rem;
    cursor: pointer;
}

.cart-item .cart-car-quantity .count {
    padding: 0.7rem 0;
}

.cart-item .cart-car-total-price {
    padding-right: 0.5rem;
    justify-self: right;
    font-weight: 700;
}

/* cart summary */
.cart-summary {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-top: 1px solid white;
    padding-top: 2rem;
}

.cart-summary .clear-cart {
    width: 130px;
    height: 40px;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: 1px;
    border: 1px solid white;
    color: white;
    background: none;
    outline: none;
    cursor: pointer;
}

.cart-checkout {
    width: 270px;
    max-width: 100%;
}

.cart-checkout .subtotal {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.cart-checkout .amount {
    font-weight: 700;
}

.cart-checkout p {
    font-size: 14px;
    font-weight: 200;
    margin: 0.5rem 0;
}

.cart-checkout button {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-weight: 400;
    letter-spacing: 1px;
    background-color: #4b70e2;
    color: #f9f9f9;
    border: none;
    outline: none;
    cursor: pointer;
}

.continue-shopping,
.start-shopping {
    margin-top: 1rem;
}

.continue-shopping a,
.start-shopping a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.continue-shopping a span,
.start-shopping a span {
    margin-left: 0.5rem;
}

.cart-empty {
    font-size: 20px;
    margin-top: 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
