header {
    height: 11vh;
    padding: 0 5vw;
    background-color: darkred;
    display: flex;
    align-items: center;
    color:darkred;
}

header a {
    color: black;
    font-size: x-large;
    font-style: inherit;
    text-decoration: none;
}


.logotype{
    width:5%;
}

header h2{
    margin-left: 10px;
}

.But{
    border-radius: 20px;
    border:none;
    background-color:lightgrey ;
    width: 10vw;
    height: 40px;
    font-size: 25px;
    transition-duration: 0.5s;
}

.HomeBut{
    margin-right: 10px;
}

.CartBut{
    margin-left: 10px;
}

.CatalogBut{

}

.setOfBtns{
    position:absolute;
    left:50%;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    top:40px;
    margin-right: 10px;
}

.But:hover{
    background-color: darkred;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
}